
font{

}

body{
  background-color: rgb(150, 225, 150);
}

b:first-letter{
  color:red;
}

b.pink{
  color:brown;
}

a{
  text-decoration:none;
  color:brown;
}


a:hover{
  color:red;
  clear: none;
}
